
#button-dot {
  color: white;
  display: inline-block;
  position: relative;
  padding: 2px 5px;
}

#dot {
  background-color: #fa3e3e;
  border-radius: 33px 33px;
  color: white;
  padding: 1px 3px;
  position: absolute;
  top: 0;
  right: 0;
}

#navbar-profil-picture {
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

#navbar-notification-picture {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.bg-navbar {
  background-color: rgb(52, 58, 64);
}

.dropdown-profil-element {
  color: white;
}

.dropdown-profil-element:hover {
  /*border: solid black 2px;*/
  /*background-color: white;*/
  color: black;
}

.notificationPicture {
  width: 55px;
  height: 55px;
}

.vertical-text {
  transform: rotate(90deg);
  float: left;
  transform-origin: left top 0;
  white-space: nowrap;
}

.img_file_input > #file_input {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

[id^='star'] {
  font-size: 2em;
  color: gray;
}

#star1 {
  color: yellow !important;
}

.greenColor {
  color: #00CC00;
}

.redColor {
  color: #FF3232;
}

.pinkColor {
  color: #FFA07A;
}


/** { box-sizing: border-box; }*/
/*body {*/
/*  font: 16px Arial;*/
/*}*/
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

/*input {*/
/*  border: 1px solid transparent;*/
/*  background-color: #f1f1f1;*/
/*  padding: 10px;*/
/*  font-size: 16px;*/
/*}*/
/*input[type=text] {*/
/*  background-color: #f1f1f1;*/
/*  width: 100%;*/
/*}*/
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.profil-picture {
  width: 250px;
  height: 250px;
}

.nowrap-class {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}