
.button-dot {
  color: white;
  display: inline-block;
  position: relative;
  padding: 2px 5px;
}

.dot {
  background-color: #fa3e3e;
  border-radius: 33px 33px;
  color: white;
  padding: 1px 3px;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-navbar {
  background-color: rgb(52, 58, 64);
}

.dropdown-profil-element {
  color: white;
}

.dropdown-profil-element:hover {
  color: black;
}

.vertical-text {
  transform: rotate(90deg);
  float: left;
  transform-origin: left top 0;
  white-space: nowrap;
}

.img_file_input > #file_input {
  display: none;
}

.clickable:hover {
  cursor: pointer;
}

[id^='star'] {
  font-size: 2em;
  color: gray;
}

#star1 {
  color: yellow !important;
}

.greenColor {
  color: #00CC00;
}

.redColor {
  color: #FF3232;
}

.pinkColor {
  color: #FFA07A;
}